@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../../node_modules/venobox/dist/venobox.css";

@import "bwvariables";

$carousel-control-color:$primary;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";

.post-detail-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
